body {
    padding: 4px;
    font-family: sans-serif;
}

.loginlink {
    text-align: center;
    margin: 16px;
}

.load-indicator {
    text-align: center;
}

.inplace-input_notediting {
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(0,0,0,0);

    &:hover{
        border: 1px solid rgba(0,0,0,0.2);
    }

    &.inplace-input-crossed {
        text-decoration: line-through;
    }
}


.inline-confirmation-buttons {
    text-align: right;
}

.buttonwithconfirmation {
    position: relative;

    .inline-confirmation {
        position: absolute;
        right: 0px;
        top: 0px;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
        background-color: white;
        padding: 8px;
        min-width: 200px;
        z-index: 10;
    }
}

.header {
    font-size: 15px;
    font-weight: bold;
    margin: 4px 8px 8px 4px;    
}
.page-header {
    text-align: right;
}

#app {
    max-width: 700px;
    margin: auto;
}

.default-card {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 8px;
    padding: 8px;
}

.default-card-table {
    width: 100%;
    border-collapse: collapse;

    > tbody, thead, tfoot {
        > tr > td {
            padding: 4px;
        }
    }

    > tbody > tr:nth-child(odd) {
    background-color: rgba(204, 204, 204, 0.4);
    }
}

.default-card-table-total {
    > td {
        border-top: 1px solid rgba(0,0,0,0.4);
    }
}

.budget-summary {
    @extend .default-card;    

    .budget-summary-table {
        @extend .default-card-table;
    }

    .budget-summary-balance {
        @extend .default-card-table-total;
    }

    .budget-summary-balance-negative {
        color: red
    }

    .budget-summary-balance-positive {
        color: green
    }
}

.accounts {
    @extend .default-card    
}

.accounts-table {
    @extend .default-card-table;    

    > tbody, thead, tfoot {
        > tr {
            > td:nth-child(1) {
                width: 50%;
            }
            > td:nth-child(2) {
                text-align: right;
                //border: 1px solid rgba(0,0,0,0);
            }
            > td:nth-child(3) {
                max-width: 80px;
                text-align: right;
            }
        }
    }
}

.accounts-table-total {
    @extend .default-card-table-total
}

.envelopes {
    @extend .default-card  
}

.envelopes-table {
    @extend .default-card-table;
    > thead, tbody, tfoot { 
        > tr {
            > td:nth-child(1) {
                width: 110px;
            }
            > td:nth-child(2) {
                width: 50%;
                text-align: right;                
            }
            > td:nth-child(3) {            
                text-align: right;                
            }
            > td:nth-child(4) {
                width: 30px;
                text-align: right;
            }
        }
    }
}

.envelopes-table-total {
    @extend .default-card-table-total
}

.monthlies {
    @extend .default-card  
}

.monthlies-table {
    @extend .default-card-table;
    > thead, tbody, tfoot { 
        > tr {            
            > td:nth-child(2) {
                width: 30%;
                text-align: right;
            }
            > td:nth-child(3) {            
                width: 30%;
                text-align: center;
            }            
            > td:nth-child(6) {
                width: 30px;
                text-align: right;
            }
        }
    }
    .monthlies-table-spentbox {
        width: 100%;
    }
}

.monthlies-table-total {
    @extend .default-card-table-total
}

.goals {
    @extend .default-card  
}

.goals-table {
    @extend .default-card-table;
    > thead, tbody, tfoot {
        > tr {
            > td:nth-child(2) {
                width: 20%;
                text-align: right;
            }
            > td:nth-child(3) {            
                width: 20%;                
            }
            > td:nth-child(4) {
                width: 20%;
                text-align: right;
            }
            > td:nth-child(5) {
                width: 20%;
                text-align: right;
            }
            > td:nth-child(6) {
                width: 30px;
                text-align: right;
            }
        }
    }
}

.goals-table-total {
    @extend .default-card-table-total
}